# Edit this file to introduce tasks to be run by cron.
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
#
# For example, you can run a backup of all your user accounts
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/ # at 5 a.m every week with:
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command

# signal sender
59 6 * * 1-5 ~/signal.sh > log.test.log 2>&1
